/* width */
::-webkit-scrollbar {
  width: 6.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(44, 194, 214);
}

body,
html {
  height: 100%;
  margin: 0%;
  font-size: 16px;
  font-family: "Brush Script MT", cursive;
  font-weight: 400px;
  line-height: 1.8em;
  color: #666;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* 
fixed = parallax
scroll = normal
*/
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("Venti.jpg");
  min-height: 100%;
}

.pimg2 {
  background-image: url("Qingce.png");
  min-height: 400px;
}

.pimg3 {
  background-image: url("Liyue.png");
  min-height: 400px;
}

.pimg4 {
  background-image: url("Guoba.png");
  min-height: 400px;
}

.section {
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4ff;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}
.hutao {
  height: 175px;
  margin-right: 50px;
}
.grid {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.grid.reverse {
  flex-direction: row-reverse;
}
.ning {
  height: 175px;
  margin-left: 50px;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

@media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3,
  .pimg4 {
    background-attachment: scroll;
  }
  .ptext .border.ph {
    line-height: 50px;
  }
  * {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
    margin: 0%;
  }
  img {
    margin-bottom: 20px;
  }
  video {
    margin-bottom: 20px;
  }
}
